{% load static %}
<!DOCTYPE html>
<html lang="en">

<!--Head-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>EasyM</title>
    {% block title %} {% endblock %}
    {% block extrastylet %} {% endblock %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/img/logo/Onian-EasyM.png' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
</head>

<body>
<!-- Main Wrapper -->
{% include 'base/header.html' %}

<div class="main-wrapper">

    <!-- Sidebar -->
    {% include 'base/liste-matricule.html' %}
    <!-- /Sidebar -->

    <!-- Page Wrapper -->
    <div class="page-wrapper" id="mainContent">
        {% block pageContent %}

        {% endblock %}
    </div>
    <!-- /Page Content -->

    {% block pageWrapper %}

    {% endblock %}

</div>

<script src="{% static 'assets/js/app.js' %}"></script>
<script src="{% static 'assets/js/sidebar.js' %}"></script>
{% block extrascript %}

{% endblock %}

</body>
</html>