{% extends 'base/baseSansMatricule.html' %}
{% block title %} <title>parametre du Theme</title>>{% endblock %}
{% load static %}

{% block extrastylet %}

{% endblock %}

{% block parametreTheme %} class="active" {% endblock %}

{% block projet %} class="active" {% endblock %}

<!-- Content Body (Page Body) -->

{% block pageContent %}
<div class="content container-fluid">
    <div class="row">
        <div class="col-md-8 offset-md-2">

            <!-- Page Header -->
            <div class="page-header">
                <div class="row">
                    <div class="col-sm-12">
                        <h3 class="page-title">Paramètres du thème</h3>
                    </div>
                </div>
            </div>
            <!-- /Page Header -->

            <form>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label">Nom du site Web</label>
                    <div class="col-lg-9">
                        <input name="website_name" class="form-control" value="ONIAN-SofTech" type="text">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label">Logo léger</label>
                    <div class="col-lg-7">
                        <input type="file" class="form-control">
                        <span class="form-text text-muted">La taille d’image recommandée est de 40px x 40px</span>
                    </div>
                    <div class="col-lg-2">
                        <div class="img-thumbnail float-right"><img src="{% static 'assets/img/logo2.png' %}" alt=""
                                                                    width="40"
                                                                    height="40"></div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label">Favicon</label>
                    <div class="col-lg-7">
                        <input type="file" class="form-control">
                        <span class="form-text text-muted">La taille d’image recommandée est de 16px x 16px</span>
                    </div>
                    <div class="col-lg-2">
                        <div class="settings-image img-thumbnail float-right"><img
                                src="{% static 'assets/img/logo2.png' %}"
                                class="img-fluid" width="16"
                                height="16" alt=""></div>
                    </div>
                </div>
                <div class="submit-section">
                    <button class="btn btn-primary submit-btn">Sauvegarder</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block extrascript %}
<!--JS-->
<!-- jQuery -->
<script src="{% static 'assets/js/jquery-3.5.1.min.js' %}"></script>

<!-- Bootstrap Core JS -->
<script src="{% static 'assets/js/popper.min.js' %}"></script>
<script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>

<!-- Slimscroll JS -->
<script src="{% static 'assets/js/jquery.slimscroll.min.js' %}"></script>

<!-- Custom JS -->
<script src="{% static 'assets/js/app.js' %}"></script>

{% endblock %}