{% extends 'base/base.html' %}
{% load static %}

{% block extrastylet %}
<!-- Datatable CSS -->
<link rel="stylesheet" href="{% static 'assets/css/dataTables.bootstrap4.min.css' %}">

<!-- Select2 CSS -->
<link rel="stylesheet" href="{% static 'assets/css/select2.min.css' %}">

<!-- Datetimepicker CSS -->
<link rel="stylesheet" href="{% static 'assets/css/bootstrap-datetimepicker.min.css' %}">
{% comment %}
<link rel="stylesheet" type="text/css" href="{% static 'assets/datatables/Bootstrap-5-5.1.3/css/bootstrap.min.css' %}"/>
<link rel="stylesheet" type="text/css"
      href="{% static 'assets/datatables/DataTables-1.12.1/css/dataTables.bootstrap5.min.css' %}"/>{% endcomment %}
{% endblock %}

{% block devis %} class="active" {% endblock %}
<!-- Content Body (Page Body) -->
{% block pageContent %}

<div class="content container-fluid">
    <!-- Page Header -->
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">Devis</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'home' %}">Tableau de bord</a></li>
                    <li class="breadcrumb-item active">Devis</li>
                </ul>
            </div>
            <div class="col-auto float-right ml-auto">
                <a href="{% url 'creerDevis' %}" class="btn add-btn"><i class="fa fa-plus"></i> Créer un Devis</a>
            </div>
        </div>
    </div>
    <!-- /Page Header -->

    <!-- Search Filter -->
    <div class="row filter-row">
        <div class="col-sm-6 col-md-3">
            <div class="form-group form-focus">
                <div class="cal-icon">
                    <input class="form-control floating datetimepicker" type="text">
                </div>
                <label class="focus-label">De</label>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="form-group form-focus">
                <div class="cal-icon">
                    <input class="form-control floating datetimepicker" type="text">
                </div>
                <label class="focus-label">Au</label>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="form-group form-focus select-focus">
                <select class="select floating">
                    <option>Selectionnez le statut</option>
                    <option>En instance</option>
                    <option>Payé</option>
                    <option>Partiellement payé</option>
                </select>
                <label class="focus-label">Statut</label>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <a href="#" class="btn btn-success btn-block"> Rechercher </a>
        </div>
    </div>
    <!-- /Search Filter -->

    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-striped custom-table mb-0">
                    <thead>
                    <tr>
                        <th>Numéro de la facture</th>
                        <th>Client</th>
                        <th>Date de d'estimation</th>
                        <th>Echéance</th>
                        <th>Quantité</th>
                        <th>Statut</th>
                        <th class="text-right">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><a href="{% url 'vueDevis' %}">EST-0001</a></td>
                        <td>Global Technologies</td>
                        <td>11 Mars 2019</td>
                        <td>17 Mars 2019</td>
                        <td>$2099</td>
                        <td>
                            <span class="badge bg-inverse-success">Payé</span>
                        </td>
                        <td class="text-right">
                            <div class="dropdown dropdown-action">
                                <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown"
                                   aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="{% url 'editerDevis' %}"><i
                                            class="fa fa-pencil m-r-5"></i> Editer</a>
                                    <a class="dropdown-item" href="#" data-toggle="modal"
                                       data-target="#delete_confirme"><i class="fa fa-trash-o m-r-5"></i> Supprimer</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><a href="{% url 'vueDevis' %}">EST-0002</a></td>
                        <td>Delta Infotech</td>
                        <td>11 Mars 2019</td>
                        <td>17 Mars 2019</td>
                        <td>$2099</td>
                        <td>
                            <span class="badge bg-inverse-info">En instance</span>
                        </td>
                        <td class="text-right">
                            <div class="dropdown dropdown-action">
                                <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown"
                                   aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="{% url 'editerDevis' %}"><i
                                            class="fa fa-pencil m-r-5"></i> Editer</a>
                                    <a class="dropdown-item" href="#" data-toggle="modal"
                                       data-target="#delete_confirme"><i class="fa fa-trash-o m-r-5"></i> Supprimer</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><a href="{% url 'vueDevis' %}">EST-0003</a></td>
                        <td>Cream Inc</td>
                        <td>11 Mars 2019</td>
                        <td>17 Mars 2019</td>
                        <td>$2099</td>
                        <td>
                            <span class="badge bg-inverse-warning">Partiellement payé</span>
                        </td>
                        <td class="text-right">
                            <div class="dropdown dropdown-action">
                                <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown"
                                   aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="{% url 'editerDevis' %}"><i
                                            class="fa fa-pencil m-r-5"></i> Editer</a>
                                    <a class="dropdown-item" href="#" data-toggle="modal"
                                       data-target="#delete_confirme"><i class="fa fa-trash-o m-r-5"></i> Supprimer</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

<!-- Delete Employee Modal -->
<div class="modal custom-modal fade" id="delete_confirme" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-header">
                    <h3>Supprimer le devis</h3>
                    <p>Voulez-vous vraiment supprimer?</p>
                </div>
                <div class="modal-btn delete-action">
                    <div class="row">
                        <div class="col-6">
                            <a href="javascript:void(0);" class="btn btn-primary continue-btn">Supprimer</a>
                        </div>
                        <div class="col-6">
                            <a href="javascript:void(0);" data-dismiss="modal"
                               class="btn btn-primary cancel-btn">annuler</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Delete Employee Modal -->
{% endblock %}


{% block extrascript %}
<!--JS-->
<!-- jQuery -->
<script src="{% static 'assets/js/jquery-3.5.1.min.js' %}"></script>

<!-- Bootstrap Core JS -->
<script src="{% static 'assets/js/popper.min.js' %}"></script>
<script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>

<!-- Slimscroll JS -->
<script src="{% static 'assets/js/jquery.slimscroll.min.js' %}"></script>

<!-- Chart JS -->
<!-- Select2 JS -->
<script src="{% static 'assets/js/select2.min.js' %}"></script>

<!-- Datetimepicker JS -->
<script src="{% static 'assets/js/moment.min.js' %}"></script>
<script src="{% static 'assets/js/bootstrap-datetimepicker.min.js' %}"></script>

<!-- Custom JS -->
<script src="{% static 'assets/js/app.js' %}"></script>

{% endblock %}