{% extends 'base/base.html' %}
{% load static %}

{% block extrastylet %}
<!-- Datatable CSS -->
<link rel="stylesheet" href="{% static 'assets/css/dataTables.bootstrap4.min.css' %}">

<!-- Select2 CSS -->
<link rel="stylesheet" href="{% static 'assets/css/select2.min.css' %}">

<!-- Datetimepicker CSS -->
<link rel="stylesheet" href="{% static 'assets/css/bootstrap-datetimepicker.min.css' %}">
{% comment %}
<link rel="stylesheet" type="text/css" href="{% static 'assets/datatables/Bootstrap-5-5.1.3/css/bootstrap.min.css' %}"/>
<link rel="stylesheet" type="text/css"
      href="{% static 'assets/datatables/DataTables-1.12.1/css/dataTables.bootstrap5.min.css' %}"/>{% endcomment %}
{% endblock %}

{% block voiture %} class="active" {% endblock %}
<!-- Content Body (Page Body) -->

{% block pageContent %}
<!-- Page Content -->
<div class="content container-fluid">
    <!-- Page Header -->
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">Voiture</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'home' %}">Tableau de bord</a></li>
                    <li class="breadcrumb-item active">Voiture</li>
                </ul>
            </div>
            <div class="col-auto float-right ml-auto">
                <a href="#" class="btn add-btn" data-toggle="modal" data-target="#add_car"><i class="fa fa-plus"></i>
                    Ajouter une voiture</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div>
                <table id="example" class="table table-striped custom-table mb-0 datatable">
                    <thead>
                    <tr>
                        <th>Matricul</th>
                        <th>Marque</th>
                        <th>Model</th>
                        <th>Etat</th>
                        <th class="text-right">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>AUT-001</td>
                        <td>BMW</td>
                        <td>SUV</td>
                        <td>
                            <div class="dropdown action-label">
                                <div class="dropdown action-label">
                                    <a class="btn btn-white btn-sm btn-rounded " href="#" data-toggle="dropdown"
                                       aria-expanded="false"><i class="fa fa-dot-circle-o text-success"></i>Bon</a>
                                </div>
                            </div>
                        </td>
                        <td class="text-right">
                            <div class="dropdown dropdown-action">
                                <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown"
                                   aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#edit_car"><i
                                            class="fa fa-pencil m-r-5"></i> Edit</a>
                                    <a class="dropdown-item" href="#" data-toggle="modal"
                                       data-target="#delete_confirme"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                </div>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td>AUT-002</td>
                        <td>Renauld</td>
                        <td>Camion</td>
                        <td>
                            <div class="dropdown action-label">
                                <div class="dropdown action-label">
                                    <a class="btn btn-white btn-sm btn-rounded " href="#" data-toggle="dropdown"
                                       aria-expanded="false"><i class="fa fa-dot-circle-o text-danger"></i>Panne</a>
                                </div>
                            </div>
                        </td>
                        <td class="text-right">
                            <div class="dropdown dropdown-action">
                                <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown"
                                   aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#edit_car"><i
                                            class="fa fa-pencil m-r-5"></i> Edit</a>
                                    <a class="dropdown-item" href="#" data-toggle="modal"
                                       data-target="#delete_confirme"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                </div>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td>AUT-003</td>
                        <td>Mazda</td>
                        <td>Remorque</td>
                        <td>
                            <div class="dropdown action-label">
                                <div class="dropdown action-label">
                                    <a class="btn btn-white btn-sm btn-rounded " href="#" data-toggle="dropdown"
                                       aria-expanded="false"><i class="fa fa-dot-circle-o text-success"></i>Bon</a>
                                </div>
                            </div>
                        </td>
                        <td class="text-right">
                            <div class="dropdown dropdown-action">
                                <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown"
                                   aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#edit_car"><i
                                            class="fa fa-pencil m-r-5"></i> Edit</a>
                                    <a class="dropdown-item" href="#" data-toggle="modal"
                                       data-target="#delete_confirme"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- /Page Content -->

<!-- Add Department Modal -->
<div id="add_car" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Ajouter une voiture</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label>Marque <span class="text-danger">*</span></label>
                        <input class="form-control" type="text">
                    </div>
                    <div class="form-group">
                        <label>Model <span class="text-danger">*</span></label>
                        <input class="form-control" type="text">
                    </div>
                    <div class="form-group">
                        <label>Etat <span class="text-danger">*</span></label>
                        <input class="form-control" type="text">
                    </div>
                    <div class="submit-section">
                        <button class="btn btn-primary submit-btn">Soumettre</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Add Department Modal -->

<!-- Edit Department Modal -->
<div id="edit_car" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modifier le département</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label>Marque <span class="text-danger">*</span></label>
                        <input class="form-control" type="text" value="BMW">
                    </div>
                    <div class="form-group">
                        <label>Model <span class="text-danger">*</span></label>
                        <input class="form-control" type="text" value="SUV">
                    </div>
                    <div class="form-group">
                        <label>Etat <span class="text-danger">*</span></label>
                        <input class="form-control" type="text">
                    </div>
                    <div class="submit-section">
                        <button class="btn btn-primary submit-btn">Soumettre</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Edit Department Modal -->

<!-- Delete Employee Modal -->
<div class="modal custom-modal fade" id="delete_confirme" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-header">
                    <h3>Supprimer la voiture</h3>
                    <p>Voulez-vous vraiment supprimer?</p>
                </div>
                <div class="modal-btn delete-action">
                    <div class="row">
                        <div class="col-6">
                            <a href="javascript:void(0);" class="btn btn-primary continue-btn">Supprimer</a>
                        </div>
                        <div class="col-6">
                            <a href="javascript:void(0);" data-dismiss="modal"
                               class="btn btn-primary cancel-btn">annuler</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Delete Employee Modal -->

{% endblock %}


{% block extrascript %}
<!--JS-->
<!-- jQuery -->
<script src="{% static 'assets/js/jquery-3.5.1.min.js' %}"></script>

<!-- Bootstrap Core JS -->
<script src="{% static 'assets/js/popper.min.js' %}"></script>
<script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>

<!-- Slimscroll JS -->
<script src="{% static 'assets/js/jquery.slimscroll.min.js' %}"></script>

<!-- Chart JS -->
<!-- Select2 JS -->
<script src="{% static 'assets/js/select2.min.js' %}"></script>

<!-- Datetimepicker JS -->
<script src="{% static 'assets/js/moment.min.js' %}"></script>
<script src="{% static 'assets/js/bootstrap-datetimepicker.min.js' %}"></script>

<!-- Datatable JS -->

<script type="text/javascript"
        src="{% static 'assets/datatables/Bootstrap-5-5.1.3/js/bootstrap.bundle.min.js' %}"></script>
<script type="text/javascript"
        src="{% static 'assets/datatables/DataTables-1.12.1/js/jquery.dataTables.min.js' %}"></script>
<script type="text/javascript"
        src="{% static 'assets/datatables/DataTables-1.12.1/js/dataTables.bootstrap5.min.js' %}"></script>
<script type="text/javascript"
        src="{% static 'assets/datatables/AutoFill-2.4.0/js/dataTables.autoFill.min.js' %}"></script>

{#
<script src="{% static 'plugins/build/js/custom.min.js' %}"></script>#}

<!-- Custom JS -->
<script src="{% static 'assets/js/app.js' %}"></script>


{% endblock %}