{% extends 'base/base.html' %}
{% load static %}

{% block extrastylet %}
<!-- Datatable CSS -->
<link rel="stylesheet" href="{% static 'assets/css/dataTables.bootstrap4.min.css' %}">

<!-- Select2 CSS -->
<link rel="stylesheet" href="{% static 'assets/css/select2.min.css' %}">

<!-- Datetimepicker CSS -->
<link rel="stylesheet" href="{% static 'assets/css/bootstrap-datetimepicker.min.css' %}">
{% comment %}
<link rel="stylesheet" type="text/css" href="{% static 'assets/datatables/Bootstrap-5-5.1.3/css/bootstrap.min.css' %}"/>
<link rel="stylesheet" type="text/css"
      href="{% static 'assets/datatables/DataTables-1.12.1/css/dataTables.bootstrap5.min.css' %}"/>{% endcomment %}
{% endblock %}

{% block conge %} class="active" {% endblock %}

<!-- Content Body (Page Body) -->

{% block pageContent %}
<!-- Page Content -->
<div class="content container-fluid">
    <!-- Page Header -->
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">Demande de congés</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'home' %}">Tableau de bord</a></li>
                    <li class="breadcrumb-item active">Demande de congés</li>
                </ul>
            </div>
            <div class="col-auto float-right ml-auto">
                <a href="#" class="btn add-btn" data-toggle="modal" data-target="#add_leave"><i class="fa fa-plus"></i>
                    Ajouter une demande</a>
            </div>
        </div>
    </div>

    <!-- Leave Statistics -->
    <div class="row">
        <div class="col-md-3">
            <div class="stats-info">
                <h6>Total demande</h6>
                <h4>21</h4>
            </div>
        </div>
        <div class="col-md-3">
            <div class="stats-info">
                <h6>Congé validé</h6>
                <h4>12</h4>
            </div>
        </div>
        <div class="col-md-3">
            <div class="stats-info">
                <h6>congé en attente</h6>
                <h4>5</h4>
            </div>
        </div>
        <div class="col-md-3">
            <div class="stats-info">
                <h6>Congé de refusé</h6>
                <h4>4</h4>
            </div>
        </div>
    </div>
    <!-- /Leave Statistics -->


    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table id="example" class="table table-striped">
                    <thead>
                    <tr>
                        <th>Employé</th>
                        <th>Type de congé</th>
                        <th>De</th>
                        <th>Au</th>
                        <th>nombre de jours</th>
                        <th>Statut</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr>
                        <td>
                            <h2 class="table-avatar">
                                <a href="{% url 'profile-employee' %}" class="avatar"><img alt=""
                                                                                           src="{% static 'assets/img/profiles/avatar-02.jpg' %}"></a>
                                <a href="{% url 'profile-employee' %}">John Doe <span>Web Designer</span></a>
                            </h2>
                        </td>
                        <td>Congé de maladie</td>
                        <td>8 Mars 2019</td>
                        <td>9 Mars 2019</td>
                        <th>1</th>
                        <td>
                            <div class="dropdown action-label">
                                <i class="fa fa-dot-circle-o text-success"></i> Validé
                            </div>
                        </td>
                        <td class="text-right">
                            <div class="dropdown dropdown-action">
                                <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown"
                                   aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#edit_leave"><i
                                            class="fa fa-pencil m-r-5"></i> Edit</a>
                                    <a class="dropdown-item" href="#" data-toggle="modal"
                                       data-target="#delete_confirme"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                </div>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <h2 class="table-avatar">
                                <a href="{% url 'profile-employee' %}" class="avatar"><img alt=""
                                                                                           src="{% static 'assets/img/profiles/avatar-z.jpg' %}"></a>
                                <a href="{% url 'profile-employee' %}">Richard Miles <span>Web Developer</span></a>
                            </h2>
                        </td>
                        <td>Hospitalisation</td>
                        <td>15 janvier 2019</td>
                        <td>25 janvier 2019</td>
                        <th>10</th>
                        <td>
                            <div class="dropdown action-label">
                                <i class="fa fa-dot-circle-o text-success"></i> Validé
                            </div>
                        </td>
                        <td class="text-right">
                            <div class="dropdown dropdown-action">
                                <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown"
                                   aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#edit_leave"><i
                                            class="fa fa-pencil m-r-5"></i> Edit</a>
                                    <a class="dropdown-item" href="#" data-toggle="modal"
                                       data-target="#delete_confirme"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                </div>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <h2 class="table-avatar">
                                <a href="{% url 'profile-employee' %}" class="avatar"><img alt=""
                                                                                           src="{% static 'assets/img/profiles/avatar-x.jpg' %}"></a>
                                <a href="{% url 'profile-employee' %}">John Smith <span>Android Developer</span></a>
                            </h2>
                        </td>
                        <td>Congé de maternité</td>
                        <td>5 janvier 2019</td>
                        <td>15 janvier 2019</td>
                        <th>10</th>
                        <td>
                            <div class="dropdown action-label">
                                <i class="fa fa-dot-circle-o text-warning"></i> En attente
                            </div>
                        </td>

                        <td class="text-right">
                            <div class="dropdown dropdown-action">
                                <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown"
                                   aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="#" data-toggle="modal"
                                       data-target="#edit_leave"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                    <a class="dropdown-item" href="#" data-toggle="modal"
                                       data-target="#delete_confirme"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                </div>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <h2 class="table-avatar">
                                <a href="{% url 'profile-employee' %}" class="avatar"><img alt=""
                                                                                           src="{% static 'assets/img/profiles/avatar-z.jpg' %}"></a>
                                <a href="{% url 'profile-employee' %}">Mike Litorus <span>IOS Developer</span></a>
                            </h2>
                        </td>
                        <td>Congé occasionnel</td>
                        <td>10 janvier 2019</td>
                        <td>11 janvier 2019</td>
                        <th>1</th>
                        <td>
                            <div class="dropdown action-label">
                                <i class="fa fa-dot-circle-o text-success"></i> Validé
                            </div>
                        </td>

                        <td class="text-right">
                            <div class="dropdown dropdown-action">
                                <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown"
                                   aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="#" data-toggle="modal"
                                       data-target="#edit_leave"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                    <a class="dropdown-item" href="#" data-toggle="modal"
                                       data-target="#delete_confirme"><i class="fa fa-trash-o m-r-5"></i>
                                        Delete</a>
                                </div>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <h2 class="table-avatar">
                                <a href="{% url 'profile-employee' %}" class="avatar"><img alt=""
                                                                                           src="{% static 'assets/img/profiles/avatar-z.jpg' %}"></a>
                                <a href="{% url 'profile-employee' %}">Wilmer Deluna <span>Team Leader</span></a>
                            </h2>
                        </td>
                        <td>Congé de paternité</td>
                        <td>13 Février 2019</td>
                        <td>17 Février 2019</td>
                        <td>5</td>
                        <td>
                            <div class="dropdown action-label">
                                <i class="fa fa-dot-circle-o text-danger"></i> refusé
                            </div>
                        </td>
                        <td class="text-right">
                            <div class="dropdown dropdown-action">
                                <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown"
                                   aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="#" data-toggle="modal"
                                       data-target="#edit_leave"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                    <a class="dropdown-item" href="#" data-toggle="modal"
                                       data-target="#delete_confirme"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                </div>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <h2 class="table-avatar">
                                <a href="{% url 'profile-employee' %}" class="avatar"><img alt=""
                                                                                           src="{% static 'assets/img/profiles/avatar-x.jpg' %}"></a>
                                <a href="{% url 'profile-employee' %}">Jeffrey Warden <span>Web Developer</span></a>
                            </h2>
                        </td>
                        <td>Congé occasionnel</td>
                        <td>30 janvier 2019</td>
                        <td>31 janvier 2019</td>
                        <td>2</td>
                        <td>
                            <div class="dropdown action-label">
                                <i class="fa fa-dot-circle-o text-danger"></i> refusé
                            </div>
                        </td>
                        <td class="text-right">
                            <div class="dropdown dropdown-action">
                                <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown"
                                   aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="#" data-toggle="modal"
                                       data-target="#edit_leave"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                    <a class="dropdown-item" href="#" data-toggle="modal"
                                       data-target="#delete_confirme"><i class="fa fa-trash-o m-r-5"></i>
                                        Delete</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- /Page Content -->

<!-- Add Leave Modal -->
<div id="add_leave" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Ajouter une demande</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label>Type de congé <span class="text-danger">*</span></label>
                        <select class="select">
                            <option>Sélectionnez le type de congé</option>
                            <option>Congé annuel</option>
                            <option>Congé maladie</option>
                            <option>Congé maternité</option>
                            <option>Congé paternité</option>
                            <option>Congé sans solde</option>
                            <option>Autre</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Matricul</label>
                        <input class="form-control" type="text">
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-form-label">Nom <span class="text-danger">*</span></label>
                                <input class="form-control" type="text">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-form-label">Prenom</label>
                                <input class="form-control" type="text">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>De<span class="text-danger">*</span></label>
                        <div class="cal-icon">
                            <input class="form-control datetimepicker" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Au <span class="text-danger">*</span></label>
                        <div class="cal-icon">
                            <input class="form-control datetimepicker" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Nombre de jours <span class="text-danger">*</span></label>
                        <input class="form-control" readonly type="text">
                    </div>
                    <div class="form-group">
                        <label>Laisser un raison</label>
                        <textarea rows="4" class="form-control"></textarea>
                    </div>
                    <div class="submit-section">
                        <button class="btn btn-primary submit-btn">Soumettre</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Add Leave Modal -->

<!-- Edit Leave Modal -->
<div id="edit_leave" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Ajouter une demande</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label>Type de congé <span class="text-danger">*</span></label>
                        <select class="select">
                            <option>Sélectionnez le type de congé</option>
                            <option>Congé annuel</option>
                            <option>Congé maladie</option>
                            <option>Congé maternité</option>
                            <option selected>Congé paternité</option>
                            <option>Congé sans solde</option>
                            <option>Autre</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Matricul</label>
                        <input class="form-control" type="text" value="EMP-0002">
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-form-label">Nom <span class="text-danger">*</span></label>
                                <input class="form-control" type="text" value="Affo">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-form-label">Prenom</label>
                                <input class="form-control" type="text" value="Obi">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>De<span class="text-danger">*</span></label>
                        <div class="cal-icon">
                            <input class="form-control datetimepicker" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Au <span class="text-danger">*</span></label>
                        <div class="cal-icon">
                            <input class="form-control datetimepicker" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Nombre de jours <span class="text-danger">*</span></label>
                        <input class="form-control" readonly type="text" value="5">
                    </div>
                    <div class="form-group">
                        <label>Laisser un raison</label>
                        <textarea rows="4" class="form-control"></textarea>
                    </div>
                    <div class="submit-section">
                        <button class="btn btn-primary submit-btn">Soumettre</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Edit Leave Modal -->

<!-- Delete Employee Modal -->
<div class="modal custom-modal fade" id="delete_confirme" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-header">
                    <h3>Supprimer une demande</h3>
                    <p>Voulez-vous vraiment supprimer?</p>
                </div>
                <div class="modal-btn delete-action">
                    <div class="row">
                        <div class="col-6">
                            <a href="javascript:void(0);" class="btn btn-primary continue-btn">Supprimer</a>
                        </div>
                        <div class="col-6">
                            <a href="javascript:void(0);" data-dismiss="modal"
                               class="btn btn-primary cancel-btn">annuler</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Delete Employee Modal -->

{% endblock %}


{% block extrascript %}
<!--JS-->
<!-- jQuery -->
<script src="{% static 'assets/js/jquery-3.5.1.min.js' %}"></script>

<!-- Bootstrap Core JS -->
<script src="{% static 'assets/js/popper.min.js' %}"></script>
<script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>

<!-- Slimscroll JS -->
<script src="{% static 'assets/js/jquery.slimscroll.min.js' %}"></script>

<!-- Chart JS -->
<!-- Select2 JS -->
<script src="{% static 'assets/js/select2.min.js' %}"></script>

<!-- Datetimepicker JS -->
<script src="{% static 'assets/js/moment.min.js' %}"></script>
<script src="{% static 'assets/js/bootstrap-datetimepicker.min.js' %}"></script>

<!-- Datatable JS -->

<script type="text/javascript"
        src="{% static 'assets/datatables/Bootstrap-5-5.1.3/js/bootstrap.bundle.min.js' %}"></script>
<script type="text/javascript"
        src="{% static 'assets/datatables/DataTables-1.12.1/js/jquery.dataTables.min.js' %}"></script>
<script type="text/javascript"
        src="{% static 'assets/datatables/DataTables-1.12.1/js/dataTables.bootstrap5.min.js' %}"></script>
<script type="text/javascript"
        src="{% static 'assets/datatables/AutoFill-2.4.0/js/dataTables.autoFill.min.js' %}"></script>

{#
<script src="{% static 'plugins/build/js/custom.min.js' %}"></script>#}

<!-- Custom JS -->
<script src="{% static 'assets/js/app.js' %}"></script>

<script>

    $(document).ready(function () {
        $('#example').DataTable();
    });

</script>

{% endblock %}