{% extends 'base/baseSansMatricule.html' %}
{% block title %} <title>feuille de temps</title>>{% endblock %}
{% load static %}

{% block extrastylet %}
<!-- Datatable CSS -->
<link rel="stylesheet" href="{% static 'assets/css/dataTables.bootstrap4.min.css' %}">

<!-- Select2 CSS -->
<link rel="stylesheet" href="{% static 'assets/css/select2.min.css' %}">

<!-- Datetimepicker CSS -->
<link rel="stylesheet" href="{% static 'assets/css/bootstrap-datetimepicker.min.css' %}">
{% comment %}
<link rel="stylesheet" type="text/css" href="{% static 'assets/datatables/Bootstrap-5-5.1.3/css/bootstrap.min.css' %}"/>
<link rel="stylesheet" type="text/css"
      href="{% static 'assets/datatables/DataTables-1.12.1/css/dataTables.bootstrap5.min.css' %}"/>{% endcomment %}
{% endblock %}

<!-- Content Body (Page Body) -->

{% block pageContent %}
<!-- Page Content -->
<div class="content container-fluid">
    <!-- Page Header -->
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">Feuille de temps</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'home' %}">Tableau de bord</a></li>
                    <li class="breadcrumb-item active">Feuille de temps</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table id="example" class="table table-striped">
                    <thead>
                    <tr>
                        <th>Employé</th>
                        <th>Date</th>
                        <th>De</th>
                        <th>A</th>
                        <th class="text-center">Actions</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr>
                        <td>
                            <h2 class="table-avatar">
                                <a href="{% url 'profile-employee' %}" class="avatar"><img alt=""
                                                                                           src="{% static 'assets/img/profiles/avatar-x.jpg' %}"></a>
                                <a href="{% url 'profile-employee' %}">John Smith <span>Android Developer</span></a>
                            </h2>
                        </td>
                        <td>8 mars 2022</td>
                        <td>7h 30min</td>
                        <td>15h 50min</td>
                        <td class="text-center">
                            <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#edit_leave"><i
                                    class="fa fa-pencil m-r-5"></i>
                                Renseigner
                            </button>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <h2 class="table-avatar">
                                <a href="{% url 'profile-employee' %}" class="avatar"><img alt=""
                                                                                           src="{% static 'assets/img/profiles/avatar-z.jpg' %}"></a>
                                <a href="{% url 'profile-employee' %}">Mike Litorus <span>IOS Developer</span></a>
                            </h2>
                        </td>
                        <td>8 mars 2022</td>
                        <td>7h 30min</td>
                        <td>11h 40min</td>
                        <td class="text-center">
                            <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#edit_leave"><i
                                    class="fa fa-pencil m-r-5"></i>
                                Renseigner
                            </button>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <h2 class="table-avatar">
                                <a href="{% url 'profile-employee' %}" class="avatar"><img alt=""
                                                                                           src="{% static 'assets/img/profiles/avatar-z.jpg' %}"></a>
                                <a href="{% url 'profile-employee' %}">Wilmer Deluna <span>Team Leader</span></a>
                            </h2>
                        </td>
                        <td>8 mars 2022</td>
                        <td>7h 30min</td>
                        <td>17h 30min</td>

                        <td class="text-center">
                            <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#edit_leave"><i
                                    class="fa fa-pencil m-r-5"></i>
                                Renseigner
                            </button>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <h2 class="table-avatar">
                                <a href="{% url 'profile-employee' %}" class="avatar"><img alt=""
                                                                                           src="{% static 'assets/img/profiles/avatar-x.jpg' %}"></a>
                                <a href="{% url 'profile-employee' %}">Jeffrey Warden <span>Web Developer</span></a>
                            </h2>
                        </td>
                        <td>8 mars 2022</td>
                        <td>7h 00min</td>
                        <td>17h 00min</td>
                        <td class="text-center">
                            <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#edit_leave"><i
                                    class="fa fa-pencil m-r-5"></i>
                                Renseigner
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- /Page Content -->

<!-- Edit Leave Modal -->
<div id="edit_leave" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Ajouter une demande</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label>Date du jour<span class="text-danger">*</span></label>
                        <div class="cal-icon">
                            <input class="form-control datetimepicker" readonly type="text" value="08/03/2022">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>De<span class="text-danger">*</span></label>
                                <div>
                                    <input class="form-control datetimepicker" type="time">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>A <span class="text-danger">*</span></label>
                                <div>
                                    <input class="form-control datetimepicker" type="time">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="submit-section">
                        <button class="btn btn-primary submit-btn">Soumettre</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Edit Leave Modal -->

{% endblock %}

{% block extrascript %}


{% endblock %}